{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "mysite/home_dashboard/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "mysite/home_dashboard/vendor/metisMenu/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "mysite/home_dashboard/sb-admin-2.min.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "mysite/home_dashboard/vendor/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "mysite/home_dashboard/vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
{#        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    <![endif]-->
    <link href="{% static "mysite/home_dashboard/home_dashboard.css" %}" rel="stylesheet">

</head>

<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">3</div>
                                <div>New Conversations!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">6</div>
                                <div>New Contact Information!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exclamation-triangle fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">17</div>
                                <div>New Announcements!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">2</div>
                                <div>Area warnings!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-users" aria-hidden="true"></i> Family Members
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#panel_rick"
                                   aria-expanded="true">
                                    <h4 class="family_member_name">Name: Ali Hessami</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="panel_rick" class="panel-collapse collapse" aria-expanded="true" style="">
                            <div class="panel-body">
                                <h4>Location:</h4><span>Montreal, Canada [45.4717, -73.6149] </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#panel_nitesh">
                                    <h4 class="family_member_name">Name: Rajat Arora</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="panel_nitesh" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                <h4>Location:</h4><span>Montreal, Canada [45.4717, -73.6149]</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Migration

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="chartdiv"></div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->


                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge success"><i class="fa fa-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Checked in at Camp 98</h4>
                                        <p>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via
                                                Open Borders
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam
                                            dolor perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum
                                            veniam excepturi. Maiores praesentium, porro voluptas suscipit facere rem
                                            dicta, debitis.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Successfully updated contact information!</h4>
                                        <p>
                                            <small class="text-muted"><i class="fa fa-clock-o"></i> 2 days ago via Open
                                                Borders
                                            </small>
                                        </p>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem
                                            quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis
                                            rerum. Fugiat esse debitis optio, tempore. Animi officiis alias, officia
                                            repellendus.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores
                                            odit qui est tempora eos, nostrum provident explicabo dignissimos debitis
                                            vel! Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge success"><i class="fa fa-check"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Jane Doe has checked into Camp 153</h4>

                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam
                                            facilis enim eaque, tenetur nam id qui vel velit similique nihil iure
                                            molestias aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Checked in at Camp 352</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est
                                            quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente
                                            rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut
                                            debitis!</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge info"><i class="fa fa-save"></i>
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">Kyle Brown has updated their phone number</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi
                                            quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam
                                            debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static "mysite/home_dashboard/vendor/jquery/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "mysite/home_dashboard/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static "mysite/home_dashboard/vendor/metisMenu/metisMenu.min.js" %}"></script>

<!-- Morris Charts JavaScript -->
<script src="{% static "mysite/home_dashboard/vendor/raphael/raphael.min.js" %}"></script>
<script src="{% static "mysite/home_dashboard/vendor/morrisjs/morris.min.js" %}"></script>
<script src="{% static "mysite/home_dashboard/morris-data.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "mysite/home_dashboard/sb-admin-2.min.js" %}"></script>

<!-- Styles -->
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/ammap.js"></script>
<script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>

<!-- Chart code -->
<script>
    // svg path for target icon
    var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";
    // svg path for plane icon
    var planeSVG = "M19.671,8.11l-2.777,2.777l-3.837-0.861c0.362-0.505,0.916-1.683,0.464-2.135c-0.518-0.517-1.979,0.278-2.305,0.604l-0.913,0.913L7.614,8.804l-2.021,2.021l2.232,1.061l-0.082,0.082l1.701,1.701l0.688-0.687l3.164,1.504L9.571,18.21H6.413l-1.137,1.138l3.6,0.948l1.83,1.83l0.947,3.598l1.137-1.137V21.43l3.725-3.725l1.504,3.164l-0.687,0.687l1.702,1.701l0.081-0.081l1.062,2.231l2.02-2.02l-0.604-2.689l0.912-0.912c0.326-0.326,1.121-1.789,0.604-2.306c-0.452-0.452-1.63,0.101-2.135,0.464l-0.861-3.838l2.777-2.777c0.947-0.947,3.599-4.862,2.62-5.839C24.533,4.512,20.618,7.163,19.671,8.11z";

    var map = AmCharts.makeChart("chartdiv", {
        "type": "map",
        "theme": "light",
        "dataProvider": {
            "map": "worldLow",
            "zoomLevel": 3.5,
            "zoomLongitude": -20.1341,
            "zoomLatitude": 49.1712,

            "lines": [{
                "latitudes": [51.5002, 50.4422],
                "longitudes": [-0.1262, 30.5367]
            }, {
                "latitudes": [51.5002, 46.9480],
                "longitudes": [-0.1262, 7.4481]
            }, {
                "latitudes": [51.5002, 59.3328],
                "longitudes": [-0.1262, 18.0645]
            }, {
                "latitudes": [51.5002, 40.4167],
                "longitudes": [-0.1262, -3.7033]
            }, {
                "latitudes": [51.5002, 46.0514],
                "longitudes": [-0.1262, 14.5060]
            }, {
                "latitudes": [51.5002, 48.2116],
                "longitudes": [-0.1262, 17.1547]
            }, {
                "latitudes": [51.5002, 44.8048],
                "longitudes": [-0.1262, 20.4781]
            }, {
                "latitudes": [51.5002, 55.7558],
                "longitudes": [-0.1262, 37.6176]
            }, {
                "latitudes": [51.5002, 38.7072],
                "longitudes": [-0.1262, -9.1355]
            }, {
                "latitudes": [51.5002, 54.6896],
                "longitudes": [-0.1262, 25.2799]
            }, {
                "latitudes": [51.5002, 64.1353],
                "longitudes": [-0.1262, -21.8952]
            }, {
                "latitudes": [51.5002, 40.4300],
                "longitudes": [-0.1262, -74.0000]
            }],
            "images": [{
                "id": "london",
                "svgPath": targetSVG,
                "title": "London",
                "latitude": 51.5002,
                "longitude": -0.1262,
                "scale": 1
            }, {
                "svgPath": targetSVG,
                "title": "Brussels",
                "latitude": 50.8371,
                "longitude": 4.3676,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Reykjavik",
                "latitude": 64.1353,
                "longitude": -21.8952,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Lisbon",
                "latitude": 38.7072,
                "longitude": -9.1355,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Moscow",
                "latitude": 55.7558,
                "longitude": 37.6176,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Belgrade",
                "latitude": 44.8048,
                "longitude": 20.4781,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Bratislava",
                "latitude": 48.2116,
                "longitude": 17.1547,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Ljubljana",
                "latitude": 46.0514,
                "longitude": 14.5060,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Madrid",
                "latitude": 40.4167,
                "longitude": -3.7033,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Stockholm",
                "latitude": 59.3328,
                "longitude": 18.0645,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Bern",
                "latitude": 46.9480,
                "longitude": 7.4481,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "Kiev",
                "latitude": 50.4422,
                "longitude": 30.5367,
                "scale": 0.5
            }, {
                "svgPath": targetSVG,
                "title": "New York",
                "latitude": 40.43,
                "longitude": -74,
                "scale": 0.5
            }]
        },

        "areasSettings": {
            "unlistedAreasColor": "#8dd9ef",
            "unlistedAreasAlpha": 0.9
        },

        "imagesSettings": {
            "color": "#CC0000",
            "rollOverColor": "#CC0000",
            "selectedColor": "#000000"
        },

        "linesSettings": {
            "arc": -0.7, // this makes lines curved. Use value from -1 to 1
            "arrow": "middle",
            "color": "#CC0000",
            "alpha": 0.4,
            "arrowAlpha": 1,
            "arrowSize": 4
        },
        "zoomControl": {
            "gridHeight": 100,
            "draggerAlpha": 1,
            "gridAlpha": 0.2
        },

        "backgroundZoomsToTop": true,
        "linesAboveImages": true,

        "export": {
            "enabled": true
        }
    });
</script>
</body>

</html>
